{% load static %}
<!DOCTYPE html>

<html lang="ja">

<head>
  <meta http-equiv="refresh" content="0; url={%url 'intelligence:result' %}">
  <meta charset="utf-8">
  <meta name="twitter:card" content="summary">
  <meta property="og:title" content="Cinderella Recommend">
  <meta property="og:type" content="website" />
  <meta property="og:description" content="AIがあなたにおすすめの恒常SSRを診断します。">
  <meta property="og:url" content="https://sosei.pythonanywhere.com/">
  <meta property="og:image" content="https://sosei.com/static/intelligence/img/main.png">
  <meta name="description" content="AIがあなたにおすすめの恒常SSRを診断します。">
  <link rel="apple-touch-icon" type="image/png" href="{% static "intelligence/img/apple-touch-icon-180x180.png" %}">
  <link rel="icon" type="image/png" href="{% static "intelligence/img/icon-192x192.png" %}">
  <link rel="icon" type="image/vnd.microsoft.icon" href="{% static "intelligence/img/favicon.ico" %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>AI診断中 - Cinderella Recommend</title>
  <link href="{% static "intelligence/css/style.css" %}" rel="stylesheet">
</head>

<body>

  <h3>AI診断中…</h3>
  <span class="note">計算には約30秒かかりますのでお待ちください。<br>計算終了後、自動的に結果を表示します。</span>
</body>

</html>