{% extends "intelligence/base.html" %}
{% load static %}
{% block title %}500 - Cinderella Recommend{% endblock title %}

{% block content %}
  <h3>500(Internal Server Error)</h3>
  <span class="note">エラーが発生しました。<br>診断中に戻るボタンを押すと起こります。<br>不具合あれば<a href="https://twitter.com/susi_silica">@susi_silica</a>まで。</span>
  <span class="note">というわけで私の担当でも見てください。<br>ホームにはこのページの一番下から戻れます。</span>
  <img class="riamu" src="{% static "intelligence/img/riamu/ydxjjkt4uu.png" %}">
  <h4>担当からひとこと言わせて！</h4>
  <span class="comment">夢見りあむお得意の早口リフレインですね。実際に言ってみるとわかるのですが、とても気持ちいいフレーズです。エラー出たけど制作者が把握しているエラーなら、じゃあいいよね。</span>
  <p class="box"></p>
  <a class="re-btn" href="{%url 'intelligence:index' %}" class="nav-link">ホームに戻る</a>
{% endblock %}